@font-face {
    font-family: AbrilFatface;
    src: url("../fonts/AbrilFatface-Regular.ttf");
}

@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: Anton;
    src: url("../fonts/Anton-Regular.ttf");
}

* {
    overflow: overlay;
    overflow-x: hidden;
}

body {
    background-color: #127A7A;
}


#firstPage {
    width: 100vw;
    height: 100vh;
}

#firstPage img {
    width: 100%;
}

#firstPage #waves-1 {
    transform: rotate(180deg);
}

#firstPage #backgroundMainPage {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#firstPage #waves-2 {
    position: absolute;
    bottom: 0;
    left: 0;
}

#firstPage #arrow {
    position: absolute;
    left: 0;
    bottom: 2vh;
    width: 3vw;
    filter: invert();
    left: 48.1vw;
    transform: rotate(90deg) translate(-50%);
    transition: all 0.5s;
}

#firstPage #arrow:hover {
    cursor: pointer;
    transform: rotate(90deg) translate(-50%) scale(1.2);
}

#firstPage #mainTitle {
    position: absolute;
    display: block;
    font-family: AbrilFatface;
    font-weight: 200;
    color: white;
    font-size: 5vw;
    text-align: center;
    width: 100vw;
}

#secondPage {
    width: 100vw;
    height: 100vh;
    background: rgb(18, 122, 122);
    background: linear-gradient(180deg, rgba(18, 122, 122, 1) 0%, rgba(41, 151, 126, 1) 50%, rgba(18, 122, 122, 1) 100%);
}

#secondPage #mainTitle {
    font-family: Anton;
    color: white;
    margin-left: 6vw;
    margin-top: 6vh;
    font-size: 3vw;
    font-weight: 300;
    text-decoration: underline;
}

#secondPage #arrow {
    position: absolute;
    left: 0;
    bottom: -100vh;
    width: 3vw;
    filter: invert();
    left: 48.1vw;
    transform: rotate(90deg) translate(-50%);
    transition: all 0.5s;
}

#secondPage #arrow:hover {
    cursor: pointer;
    transform: rotate(90deg) translate(-50%) scale(1.2);
}

#secondPage p {
    margin-left: 7vw;
    margin-top: 10vh;
    font-family: Poppins;
    color: white;
    font-size: 1.2vw;
    width: 40vw;
}

#secondPage #grp_main {
    position: absolute;
    top: 124vh;
    margin-left: 55vw;
    width: 40vw;
}

#thirdPage {
    width: 100vw;
    height: 100vh;
}

#thirdPage #mainTitle {
    font-family: Anton;
    color: white;
    margin-left: 6vw;
    margin-top: 6vh;
    font-size: 3vw;
    font-weight: 300;
    text-decoration: underline;
}

#thirdPage #arrow {
    position: absolute;
    left: 0;
    bottom: -200vh;
    width: 3vw;
    filter: invert();
    left: 48.1vw;
    transform: rotate(90deg) translate(-50%);
    transition: all 0.5s;
}

#thirdPage #arrow:hover {
    cursor: pointer;
    transform: rotate(90deg) translate(-50%) scale(1.2);
}

#thirdPage .downloads {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10vh;
}

#thirdPage .download {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#thirdPage .download img {
    width: 15vw;
}

#thirdPage .download a {
    transition: all 0.5s;
}

#thirdPage .download a:hover {
    transform: scale(1.1);
}

#thirdPage .download button {
    background-color: transparent;
    border: solid white 0.2vw;
    padding: 0.7vw;
    border-radius: 1.3vw;
    text-decoration: none;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
    color: white;
    font-family: Poppins;
    font-weight: 500;
    font-size: 1.5vw;
}

#fourthPage {
    width: 100vw;
    height: 100vh;
    background: rgb(18, 122, 122);
    background: linear-gradient(180deg, rgba(18, 122, 122, 1) 0%, rgba(41, 151, 126, 1) 50%, rgba(18, 122, 122, 1) 100%);
}

#fourthPage #mainTitle {
    font-family: Anton;
    color: white;
    margin-left: 6vw;
    margin-top: 6vh;
    font-size: 3vw;
    font-weight: 300;
    text-decoration: underline;
}

#fourthPage #arrow {
    position: absolute;
    left: 0;
    bottom: -300vh;
    width: 3vw;
    filter: invert();
    left: 48.1vw;
    transform: rotate(90deg) translateX(-50%);
    transition: all 0.5s;
}

#fourthPage #arrow:hover {
    cursor: pointer;
    transform: rotate(90deg) translate(-50%) scale(1.2);
}

#fourthPage .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#fourthPage .gallery-item {
    width: 30vw;
    margin: 1vw;
}

#fivesPage {
    width: 100vw;
    height: 100vh;
}

#fivesPage #mainTitle {
    font-family: Anton;
    color: white;
    margin-left: 6vw;
    margin-top: 6vh;
    font-size: 3vw;
    font-weight: 300;
    text-decoration: underline;
}

#fivesPage .main-text-fives {
    margin-left: 6.5vw;
    margin-top: 2vh;
    font-family: Poppins;
    color: white;
    font-size: 1.05vw;
    width: 40vw;
}

#fivesPage #team_picture {
    position: absolute;
    top: 410vh;
    margin-left: 62vw;
    width: 25vw;
}

#fivesPage .group_presentation {
    margin-top: 30vh;
    padding-left: 6.5vw;
    display: flex;
    transition: transform 0.5s;
}

#fivesPage .group_presentation_2 {
    margin-top: 30vh;
    padding-left: 10vw;
    display: flex;
    transition: transform 0.5s;
}

#fivesPage h2 {
    color: white;
    font-family: Poppins;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 700;
}

#fivesPage .item-2 {
    margin-top: 1vh;
    display: flex;
    flex-direction: row;
}

#fivesPage img {
    width: 10vw;
    margin: 0;
}

#fivesPage .item-2 p {
    font-family: Poppins;
    color: white;
    font-size: 1.05vw;
    width: 30vw;
    padding: 2vw;
}

.carousel-container {
    width: 200vw;
    overflow: hidden;
    display: flex;
}

#fivesPage #rigth_arrow {
    width: 3vw;
    filter: invert();
    transition: all 0.5s;
    margin-right: 1.5vw;
}

#fivesPage #rigth_arrow:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#fivesPage #left_arrow {
    width: 3vw;
    filter: invert();
    transition: all 0.5s;
    margin-left: -3vw;
    margin-right: 2.5vw;
    transform: rotate(180deg);
}

#fivesPage #left_arrow:hover {
    cursor: pointer;
    transform: scale(1.1) rotate(180deg);
}

footer{
    box-shadow: 0px 5px 5px #106363, 0px -5px 5px #106363;
    width: 100vw;
    height: 20vh;
    background-color: #106363;
}