@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/***************RESET CSS***************/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/***************CSS COMMUN**************/

body {
    background-color: #688691;
    overflow-x: hidden;
}

header {
    display: flex;
    background-color: #1b2736;
}

header .logo {
    margin: 0.2vw;
    margin-left: 1vw;
    position: relative;
    width: 6vw;
    border-radius: 20px;
}

header .first {
    margin-left: 37vw;
}

header h1 {
    font-size: 1.5vw;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 2vw;
    color: #ececec;
    font-family: 'Abril Fatface', cursive;
    transition: all 0.5s;
}

header h1:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

header h1 {
    cursor: pointer;
}

/**************CSS ACCUEIL**************/
.titre {
    color: #201b22;
    text-align: center;
    font-size: 6vw;
    margin-top: 2.5vw;
    margin-bottom: 1.5vw;
    font-family: 'Anton', sans-serif;
}

.top_page {
    display: flex;
}

.presentaion {
    margin: 2vw;
    color: #ececec;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5vw;
}

.videos {
    margin: 2vw;
    margin-left: 15vw;
    margin-right: 32vw;
}

.main_page {
    position: fixed;
    margin-top: 15vw;
    width: 23vw;
    box-shadow: 0px 0px 4vh rgb(255, 255, 255);
}

.video1 {
    position: fixed;
    box-shadow: 0px 0px 4vh rgb(255, 255, 255);
}


/**************CSS GALERIE**************/
.galerieAll {
    display: none;
}

.video_galerie h1 {
    text-align: center;
    color: #201b22;
    font-size: 4.5vw;
    margin-top: 1.5vw;
    margin-bottom: 1vw;
    margin-left: 0.5vw;
    font-family: 'Anton', sans-serif;
}

.galerie_videos {
    display: flex;
    justify-content: center;
    animation: galerieAnim 3s;
}

.video {
    margin: 0.5vw;
    margin-bottom: 0vw;
}

.image_galerie h1 {
    text-align: center;
    color: #201b22;
    font-size: 4.5vw;
    margin-top: 1.5vw;
    margin-bottom: 1vw;
    margin-left: 0.5vw;
    font-family: 'Anton', sans-serif;
}

.galerie_images {
    display: flex;
    justify-content: center;
    animation: galerieAnim 3s;
}

.galerie_images img {
    margin: 0.5vw;
    width: 23vw;
    height: 13vw;
    margin-bottom: 0vw;
}


/**********CSS QUI SOMMES NOUS**********/
.quisommenousAll {
    display: none;
}

.intro h1 {
    text-align: center;
    color: #201b22;
    font-size: 4.5vw;
    margin-top: 0.5vw;
    margin-left: 0.5vw;
    font-family: 'Anton', sans-serif;
}

.first {
    display: flex;
}

.first .texte_intro {
    margin: 2vw;
    color: #ececec;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1vw;
    margin-right: 10vw;
}

.first .team_picture {
    width: 23vw;
    margin-right: 5vw;
}

.intro h2 {
    text-align: center;
    color: #201b22;
    font-size: 3.5vw;
    margin-top: 0.5vw;
    margin-left: 0.5vw;
    margin-bottom: 2vw;
    font-family: 'Anton', sans-serif;
}

.second {
    display: flex;
    margin: 1vw;
}

.second h3 {
    color: #201b22;
    font-size: 1.5vw;
    font-family: 'Anton', sans-serif;
    margin-bottom: 0.5vw;
}

.second p {
    color: #ececec;
    font-family: 'Poppins', sans-serif;
    font-size: 1vw;
}

.second .evan {
    width: 100vw;
    margin-right: 2vw;
}

.second .simon {
    width: 100vw;
    margin-right: 2vw;
}

.second .bastien {
    width: 100vw;
    margin-right: 2vw;
}

.second .thibault {
    width: 100vw;
    margin-right: 2vw;
}

.second img {
    width: 2.5vw;
}


/***********CSS TELECHARGEMENT**********/
.téléchargementAll {
    display: none;
}

.title_dl h1 {
    text-align: center;
    color: #201b22;
    font-size: 4.5vw;
    margin-top: 2vw;
    margin-left: 0.5vw;
    font-family: 'Anton', sans-serif;
}

.download {
    margin: 2vw;
    margin-top: 5vw;
    display: flex;
    justify-content: center;
}

.download .windows {
    display: flex;
    flex-direction: column;
}

.download .linux {
    display: flex;
    flex-direction: column;
    margin-left: 10vw;
    margin-right: 10vw;
}

.download .mac {
    display: flex;
    flex-direction: column;
}

.download img {
    width: 100%;
}

.download a {
    margin-left: auto;
    margin-right: auto;
}

.download .images {
    margin-left: 0;
    margin-right: 0;
    transition: all 0.5s;
}

.download .images:hover {
    transform: scale(1.1);
}

.download .button_windows {
    cursor: pointer;
    margin: 1vw;
    background-color: transparent;
    font-size: 1vw;
    color: #ececec;
    font-family: 'Poppins', sans-serif;
    padding: 0.5vw;
    border-radius: 10px;
    border-color: #ececec;
    transition: all 1s;
}

.download .button_windows:hover {
    transition: all 1s;
    scale: 1.2;
}


/**************CSS CONTACTS*************/
.contactsAll .modal {
    display: none;
    position: fixed;
    left: auto;
    top: 8vw;
    right: 1vw;
    background-color: #1b2736;
    z-index: 1;
    padding-bottom: 1vw;
    width: 12%;
    margin-bottom: 1%;
    border-radius: 5vh;
    box-shadow: 0px 0px 2vh rgb(255, 255, 255);
}

.contactsAll .cross {
    position: relative;
    width: 2vw;
    margin: 1vw;
    float: right;
    cursor: pointer;
    transition: all 0.5s;
}

.contactsAll .cross:hover {
    transition: all 0.5s;
    scale: 1.2;
}

.contactsAll h1 {
    margin-top: 4vw;
    margin-left: 0vw;
    text-align: center;
    color: #ececec;
    font-family: 'Anton', sans-serif;
    font-size: 2vw;
}

.contactsAll .paypal {
    margin-top: 1vw;
    margin-left: 3.9vw;
    width: 5vw;
    transition: all 0.5s;
}

.contactsAll .paypal:hover {
    transform: scale(1.1);
}

@media screen and (orientation:portrait) {
    /***************CSS COMMUN**************/

    header {
        display: flex;
        flex-wrap: wrap;
        background-color: #1b2736;
    }

    header .logo {
        margin: 0.2vw;
        margin-left: 1vw;
        margin-top: 2vw;
        position: relative;
        width: 16vw;
        border-radius: 20px;
    }

    header .first {
        margin-left: 2vw;
    }

    header #accueil {
        margin-top: 4vw;
    }

    header #galerie {
        margin-top: 4vw;
    }

    header #quisommesnous {
        margin-top: 4vw;
    }

    header #telechargements {
        margin-top: -8vw;
        margin-left: 30vw;
        margin-bottom: 3vw;
    }

    header #contacts {
        margin-top: -8vw;
        margin-bottom: 3vw;
    }

    header h1 {
        font-size: 4.6vw;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 2vw;
        color: #ececec;
        font-family: 'Abril Fatface', cursive;
        transition: all 0.5s;
        text-align: center;
    }

    header h1:hover {
        transform: scale(1.1);
        transition: all 0.5s;
    }

    header h1 {
        cursor: pointer;
    }

    /**************CSS ACCUEIL**************/
    .titre {
        color: #201b22;
        text-align: center;
        font-size: 8vw;
        margin-top: 2.5vw;
        margin-bottom: 1.5vw;
        font-family: 'Anton', sans-serif;
    }

    .top_page {
        display: flex;
        flex-direction: column;
    }

    .presentaion {
        margin: 2vw;
        margin-left: 10vw;
        text-align: justify;
        width: 75vw;
        color: #ececec;
        font-family: 'Poppins', sans-serif;
        font-size: 3vw;
    }

    .videos {
        margin: 2vw;
        margin-left: 10vw;
        margin-right: 32vw;
    }

    .main_page {
        position: fixed;
        margin-top: 0vw;
        margin-left: 40vw;
        width: 35vw;
        box-shadow: 0px 0px 4vh rgb(255, 255, 255);
    }

    .video1 {
        position: fixed;
        box-shadow: 0px 0px 4vh rgb(255, 255, 255);
    }


    /**************CSS GALERIE**************/
    .galerieAll {
        display: none;
    }

    .video_galerie h1 {
        text-align: center;
        color: #201b22;
        font-size: 10.5vw;
        margin-top: 1.5vw;
        margin-bottom: 1vw;
        margin-left: 0.5vw;
        font-family: 'Anton', sans-serif;
    }

    .galerie_videos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 10vw;
        margin-right: 10vw;
    }

    .video {
        margin: 0.5vw;
        margin-bottom: 0vw;
    }

    .image_galerie h1 {
        text-align: center;
        color: #201b22;
        font-size: 10.5vw;
        margin-top: 1.5vw;
        margin-bottom: 1vw;
        font-family: 'Anton', sans-serif;
    }

    .galerie_images {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 10vw;
        margin-right: 10vw;
    }

    .galerie_images img {
        margin: 0.5vw;
        width: 40vw;
        height: 21vw;
        margin-bottom: 0vw;
    }


    /**********CSS QUI SOMMES NOUS**********/
    .quisommenousAll {
        display: none;
    }

    .intro h1 {
        text-align: center;
        color: #201b22;
        font-size: 8.5vw;
        margin-top: 3.5vw;
        margin-left: 0.5vw;
        font-family: 'Anton', sans-serif;
    }

    .first {
        display: flex;
        flex-direction: column;
    }

    .first .texte_intro {
        margin: 2vw;
        margin-top: 3vw;
        color: #ececec;
        font-family: 'Poppins', sans-serif;
        font-size: 3vw;
        text-align: center;
    }

    .first .team_picture {
        width: 50vw;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3vw;
        margin-bottom: 3vw;
    }

    .intro h2 {
        text-align: center;
        color: #201b22;
        font-size: 8.5vw;
        margin-top: 1vw;
        margin-left: 0.5vw;
        margin-bottom: 3vw;
        font-family: 'Anton', sans-serif;
    }

    .second {
        display: flex;
        margin: 1vw;
        flex-direction: column;
    }

    .second h3 {
        color: #201b22;
        font-size: 5.5vw;
        font-family: 'Anton', sans-serif;
        margin: 1vw;
        margin-bottom: 2svw;
        text-align: center;
    }

    .second p {
        color: #ececec;
        font-family: 'Poppins', sans-serif;
        font-size: 3vw;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        max-width: 80vw;
    }

    .second img {
        margin-left: 44vw;
        width: 10vw;
    }


    /***********CSS TELECHARGEMENT**********/
    .téléchargementAll {
        display: none;
    }

    .title_dl h1 {
        text-align: center;
        color: #201b22;
        font-size: 4.5vw;
        margin-top: 2vw;
        margin-left: 0.5vw;
        font-family: 'Anton', sans-serif;
    }

    .download {
        margin: 2vw;
        margin-top: 5vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .download .windows {
        display: flex;
        flex-direction: column;
    }

    .download .linux {
        display: flex;
        flex-direction: column;
        margin-left: 10vw;
        margin-right: 10vw;
    }

    .download .mac {
        display: flex;
        flex-direction: column;
    }

    .download img {
        margin-left: 25vw;
        width: 50%;
    }

    .download .linux img {
        margin-top: 2vw;
        margin-left: 18vw;
        margin-bottom: 2vw;
    }

    .download .mac img {
        margin-top: 2vw;
        margin-left: 23vw;
    }

    .download a {
        margin-left: auto;
        margin-right: auto;
    }

    .download .images {
        margin-left: 0;
        margin-right: 0;
        transition: all 0.5s;
    }

    .download .images:hover {
        transform: scale(1.1);
    }

    .download .button_windows {
        cursor: pointer;
        margin: 1vw;
        background-color: transparent;
        font-size: 4vw;
        color: #ececec;
        font-family: 'Poppins', sans-serif;
        padding: 0.5vw;
        border-radius: 10px;
        border-color: #ececec;
        transition: all 1s;
    }

    .download .button_windows:hover {
        transition: all 1s;
        scale: 1.2;
    }


    /**************CSS CONTACTS*************/
    .contactsAll .modal {
        display: none;
        position: fixed;
        left: auto;
        top: 15vw;
        right: 1vw;
        background-color: #1b2736;
        z-index: 1;
        padding-bottom: 5vw;
        width: 25%;
        margin-bottom: 1%;
        border-radius: 8vw;
        box-shadow: 0px 0px 2vh rgb(255, 255, 255);
    }

    .contactsAll .cross {
        position: relative;
        width: 4vw;
        margin: 1vw;
        margin-right: 4vw;
        float: right;
        cursor: pointer;
        transition: all 0.5s;
    }

    .contactsAll .cross:hover {
        transition: all 0.5s;
        scale: 1.2;
    }

    .contactsAll h1 {
        margin-top: 6vw;
        margin-left: 1vw;
        text-align: center;
        color: #ececec;
        font-family: 'Anton', sans-serif;
        font-size: 4vw;
    }

    .contactsAll .paypal {
        margin-top: 2vw;
        margin-left: 6.9vw;
        width: 12vw;
        transition: all 0.5s;
    }

    .contactsAll .paypal:hover {
        transform: scale(1.1);
    }
}

@keyframes galerieAnim {
    from {
        margin-left: 150vw;
    }

    to {
        margin-left: 0vw;
    }
}